* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  z-index: 1;
  background: transparent;
  color: #ffffff; 
}

.home,
.about,
.project,
.services,
.contact {
  color: #eaeaea;
}

.about h3,
.project p,
.services p,
.contact p {
  color: #bdbdbd;
}

.btn-home2 {
  border: 2px solid #ffffff;
  color: #ffffff;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#particles-js {
  position: fixed;
  inset: 0;
  background-color: #0e1421;
  z-index: -10;
  pointer-events: none; 
}



.reveal{
  opacity: 1;
  transform:none
}

section{
  opacity: 1;
}

.header-list {
  margin: 15px 20px;
}

.div-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.ul-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(245, 241, 241, 0.1);
  padding: 10px 25px;
  border-radius: 25px;
}

.ul-list li {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 25px;
  transition: 0.3s;
}

.ul-list li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
}

.ul-list li.active {
  background-color: rgb(160, 28, 28);
  padding: 10px 15px;
}

.ul-list li.active a,
.ul-list li.active i {
  color: white;
}

/* fine header  */

.home {
  margin: 160px 200px;
}

.home-container {
  display: flex;
  gap: 6rem;
}

.home-p {
  color: black;
  background-color: rgba(128, 128, 128, 0.214);
  display: inline-block;
  border-radius: 25px;
  padding: 5px 10px;
  margin-bottom: 30px;
}

.home-s {
  font-weight: bold;
  color: green;
}

.hero-text{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}
.hero-text .name{
  color: #e63946 ;
}

.info-home h1 {
  font-size: 70px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}

.info-home h3 {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

.info-p {
  color: #b79e9e;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}

.info-p p {
  padding-bottom: 5px;
}

.info-p2 {
  display: flex;
  gap: 1rem;
  color: #cdb6b6;
  font-size: 14px;
  padding-bottom: 20px;
}
.info-p2 i {
  color: #e63946;
}

.btnn {
  display: flex;
  gap: 1rem;
  padding-bottom: 30px;
}

.btn-home1 {
  background-color: rgb(185, 49, 49);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
}

.btn-home2 {
  background-color: transparent;
  border: 2px solid rgb(220, 218, 218);
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-home2:hover{
    background-color: rgb(213, 55, 55);
    color: #fff;
}


hr {
  width: 90%;
  font-weight: bold;
  color: rgb(173, 143, 143);
}

.hhr {
  padding-bottom: 30px;
}

.follow {
  display: flex;
  gap: 1rem;
}

.follow ul {
  display: flex;
  gap: 2rem;
  font-size: 20px;
}

.follow ul li {
  list-style: none;
}

.follow ul a {
  text-decoration: none;
  color: rgb(242, 96, 96);
}

.home img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

/* fine home  */

.about{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
    text-align: center;
    margin: 160px 200px;
}

.about h3{
    padding-bottom: 30px;
    font-size: 13px;
    color: rgb(191, 182, 182);

}

.about h1{
    font-family: "Open Sans", sans-serif;
}

.title{
    padding-bottom: 20px;
}

.about .hrrr{
    width: 30%;
    padding-bottom: 40px;
}

.info-about{
    font-size: 20px;
    line-height: 1.8;
    flex-direction: column;
}

.about-container{
    display: flex;
    gap: 2rem;
}

.about img{
    position: relative;
    bottom: 85px;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    border: 1px solid black;
}

.about h2{
    padding-top: 50px;
    
}

.card{
    padding-top: 30px;
    display: flex;
    gap: 2rem;
}

.c1{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    border-color: white;
}

.c1 h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.c1 i{
    font-size: 18px;
    color: rgb(237, 71, 71);
}


.c1:hover {
  transform: translateY(-6px) scale(1.03);
  border-color: #ff3333;               
  background-color: #d34e4e;               
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);  
  cursor: pointer;                         
}


.project{
    margin: 160px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project p{
    padding-bottom: 20px;
    font-size: 13px;
    color: rgb(152, 127, 127); 
}

.project h1{
    font-family: "Open Sans", sans-serif;
    padding-bottom: 10px;
}

.project hr{
    width: 10%;
}

.info-pro{
    padding-top: 20px;
}

.info-pro p{
    padding-bottom: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
  
}

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-6px);
}

.project-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.project-card h3 {
  color: rgb(160, 28, 28);
  margin-bottom: 8px;
}

.project-card p {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.skills {
  margin-bottom: 15px;
}

.skills a {
  display: inline-block;
  background: rgb(248, 248, 248);
  color: #000000;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 3px;
  transition: background 0.3s;
}


.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  background: rgb(189, 59, 59);
  color: white;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn:hover {
  background: rgb(252, 85, 85);
  border-radius: 25px;

}

.services{
    margin: 160px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services p{
    padding-bottom: 20px;
    font-size: 13px;
    color: rgb(151, 131, 131); 
}

.services h1{
    font-family: "Open Sans", sans-serif;
    padding-bottom: 10px;
}

.services hr{
    width: 10%;
}

.services-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.service-card {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.5s ease;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.service-card img {
  width: 100px;
  margin-bottom: 15px;
  z-index: 1;
  position: relative;
}

.service-card h3 {
  color: rgb(201, 45, 45);
  margin-bottom: 10px;
  transition: color 0.5s;
  position: relative;
  z-index: 1;
}

.service-card p {
  color: #555;
  font-size: 0.9rem;
  transition: color 0.5s;
  position: relative;
  z-index: 1;
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgb(201, 45, 45);
  z-index: 0;
  transition: 0.5s;
}

.service-card:hover::before {
  left: 0;
}

.service-card:hover h3,
.service-card:hover p {
  color: #fff;
}

.contact{
    margin: 160px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact p{
    padding-bottom: 20px;
    font-size: 13px;
    color: rgb(172, 147, 147); 
}

.contact h1{
    font-family: "Open Sans", sans-serif;
    padding-bottom: 10px;
}

.contact hr{
    width: 10%;
}

.contact-content {
  padding-top: 50px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 25px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  color: #ffffff;
}

.contact-item i {
  font-size: 20px;
  color: rgb(247, 247, 247);
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-link {
  width: 50px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d01d1d;
  font-size: 20px;
  transition: all 0.3s ease;
}

.social-link:hover {
  transform: translateY(-5px);
  color: #fff;
}

.social-link[href*="github"]:hover {
  background: #000;
}

.social-link[href*="linkedin"]:hover {
  background: #0A66C2;
}

.social-link[href*="wa.me"]:hover {
  background: #25D366;
}

/* Form */
.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #474af0;
}

.btn-send {
  background: rgb(212, 51, 51);
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn-send:hover {
  background: rgb(249, 66, 66);
}

/* Responsive */
@media (max-width: 900px) {
  .contact-content {
    flex-direction: column;
  }
}


.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  overflow-x: hidden;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

.footer-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: rgb(201, 45, 45);
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.footer-social a {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: rgb(201, 45, 45);
}

.footer-copy {
  font-size: 12px;
  color: #aaa;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.active-reveal {
  opacity: 1;
  transform: translateY(0);
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

/* #loading-screen {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background-color: #000;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  z-index:9999;
  overflow:hidden;
  color:#00f0ff;
  text-align:center;
} */

.hidden {
  opacity: 0;
  transform: translateY(-200px);
}

.fall {
  animation: fall 0.9s forwards;
}

@keyframes fall {
  0% {
    opacity:0;
    transform: translateY(-200px);
  }
  60% {
    opacity:1;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.loading-content h1,
.loading-content h2,
.loading-content i {
  margin: 20px 0;
}

.sub-icons {
  display:flex;
  justify-content:center;
  gap: 25px;
  margin-bottom: 20px;
}

#main-page {
  opacity:0;
  transition: opacity 1s ease;
}

#main-page.visible {
  opacity:1;
}

/* Responsive for tablets and phones */
@media (max-width: 1024px) {
  .home, .about, .project, .services, .contact {
    margin: 120px 50px;
  }

  .home-container, .about-container {
    flex-direction: column;
    gap: 3rem;
  }

  .home img, .about img {
    width: 100%;
    height: auto;
  }

  .ul-list {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 8px 15px;
  }
}

/* Phone layout */
@media (max-width: 768px) {
  header {
    display: none;
  }

  .home, .about, .project, .services, .contact {
    margin: 100px 20px;
  }

  .home-container, .about-container, .contact-content {
    flex-direction: column;
    gap: 2rem;
  }

  .projects-container, .services-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .home img, .about img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .btn-home1, .btn-home2, .btn, .btn-send {
    width: 100%;
    text-align: center;
  }
  
  .follow ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .footer-links {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 1024px) {

  header {
    display: none;
  }

  .home, .about, .project, .services, .contact {
    margin: 20px auto;
    padding: 0 15px;
    text-align: center;
    max-width: 100%;
    overflow-wrap: break-word;
  }

  .home-container,
  .about-container,
  .services-container,
  .projects-container,
  .contact-content,
  .card {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .about img {
    width: 100%;
    max-width: 220px; 
    height: auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 1; 
  }

  .card .c1 {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
  }

  .home img,
  .project-card img,
  .service-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
    object-fit: cover;
  }

  .info-home h1 { font-size: 26px; }
  .info-home h3 { font-size: 18px; }
  .info-p, .info-p2, .home-p, .about p, .project p, .service-card p, .contact p {
    font-size: 14px;
  }
  .project-card h3, .service-card h3 { font-size: 16px; }

  .contact-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-info, .contact-form {
    width: 100%;
    max-width: 400px;
  }

  html, body {
    overflow-x: hidden;
  }
}